<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/metro.css">
    <link rel="stylesheet" href="/Css/Style.css">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <!-- Carrusel de imágenes -->
        <div class="center interface">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner" data-bs-interval="1000">
                    <% carouselImages.forEach((carouselImage, index) => { %>
                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                            <img src="<%= carouselImage.image %>" class="d-block w-100 carimg" alt="<%= carouselImage.alt %>">
                            <div class="carousel-caption">
                                <h5><%= carouselImage.title %></h5>
                                <p>Descripción de la imagen</p>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </div>

        <!-- Sección de productos -->
        <div class="grandd">
            <div class="subdiv">
                <div class="containerdi">
                    <img src="/Images/digital.png" class="divimg" alt="<%= productImages[0].alt %>">
                    <h5 class="divtitle">Producto Digital</h5>
                </div>
                <div class="containerdi">
                    <img src="/Images/Juegos de mesa.png" class="divimg" alt="<%= productImages[1].alt %>">
                    <h5 class="divtitle">Producto Fisico</h5>
                </div>
            </div>
        </div>

        <!-- Lista de productos -->
        <div class="container mt-4">
            <div class="row">
                <% products.forEach(function(product) { %>
                <div class="col-lg-3 col-md-6 mb-4">
                    <a href="<%= product.link %>" class="text-decoration-none">
                        <div class="card text-bg-dark">
                            <img src="<%= product.imagen %>" class="card-img" alt="<%= product.imgAlt %>">
                            <div class="card-img-overlay hover-content">
                                <div class="cardProduct">
                                    <div class="cardTitle">
                                        <h5 class="card-title"><%= product.nombre %></h5>
                                        <p class="card-text"><%= product.categoria %></p>
                                    </div>
                                    <div class="Price">
                                        <p class="card-text"><large><%= product.precio %></large></p>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <% }); %>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>

    <script src="https://cdn.metroui.org.ua/current/metro.js"></script>
    <script src="https://kit.fontawesome.com/814cd6b91c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
