<div class="userProduct">
    <div class="user">
        <a href="<%= user.profileLink %>"><img src="<%= user.img %>" class="imgUser" alt="<%= user.imgAlt %>"></a>
    </div>
    <a href="#"><i class="fa-solid fa-heart"></i></a>
    <div><h3><%= user.name %></h3></div>
    <div class="userDescription">
        <%= user.description %>
    </div>
</div>
